#search {
  color: white;
}

.movieInfo {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  background-color: #7f7f7f;
  min-height: 500px;
  border-radius: 20px;
  border: 1px solid white;
}

.imgWrapper {
  width: 40%;
  float: left;
}

.imgWrapper > img {
  margin-top: 28px;
  width: 300px;
  height: 444px;
  border-radius: 10px;
  border: 1px solid white;
}

.imgWrapper > img::after {
  display: table;
  clear: both;
  content: '';
}

.movieText {
  float: left;
  width: 60%;
  text-align: center;
  height: 444px;
  margin-top: 28px;
}
